{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if authenticated and user == user_id %}
<div class="container">
    <h2 style="text-align: center;">USER PROFILE</h2>
    <hr>
    <div class="col-sm-6 mx-auto pt-3">
        <div class="pb-3">
            <h6><b>Username: </b> {{ user_info.username }}</h6>
            <h6><b>First Name: </b> {{ user_info.firstName }}</h6>
            <h6><b>Last Name: </b> {{ user_info.lastName }}</h6>
            <h6><b>Email Address: </b> {{ user_info.emailAddress }}</h6>
        </div>
        <a type="button" class="btn btn-outline-dark" href='/users/update_information'>Edit Information</a>
        <br></br>
        <a class="button" href="/users/reset_password_email"> Forgot Password?</a>
    </div>
    {% else %}
    <div class="col-sm-10 mx-auto pt-3" style="text-align:center">
        <p>Oops, something went wrong! You don't have permission to view this information.</p>
        <small class="text-muted">
            <a style="text-align:center" href="/users/signup">Sign up if you do not have an account.</a>
        </small>
        <br>
        <small class="text-muted">
            <a style="text-align:center" href="/users/login">Login to view your user information.</a>
        </small>
    </div>
    {% endif %}
</div>
{% endblock content %}

